*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
#main{
  width: 100vw;
}

nav{
  position: fixed;
  z-index: 9;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 100px;
}
nav .logo{
  width: 5vw;
  height: auto;
}
nav .logo>img{
 height: 5vw;
 border-radius: 50%;

}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff6000;
}
/* nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
} */
/* nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #000;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
} */
/* nav form button{
  padding: 0 15px;
  color: #000;
  font-size: 17px;
  background: #ff6000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
} */
nav form button:hover{
  background: #ff6000;
}
nav .menu-icon,
nav .cancel-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #dadada;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  /* nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  } */
  /* nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  } */
  /* nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  } */
  /* nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } */
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  /* color: red; */
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}

#page1{
  width: 100%;
  height: 100vh;
  /* background-color: yellowgreen; */
}
#logo1{
  margin-top: 40px;
  width: 15vw;
  height: auto;
  /* background-image: url(../images/logo.png);
  background-size: cover; */
}
#logo1>img{
  margin-top: 8vw;
  width: 15vw;
height: 13vw;
border-radius: 50%;
}

#text{
  width: 40vw;
  height: 15vw;
}
#box{
  width: 100%;
  height: 100%;
  background-image: url(../images/front\ image.jpg);
  background-size: cover;
  background-position: center;
}
#box #overlayy{
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.221) ;
  
}

#overlayy h1{
  /* margin-top: 2vw; */
  font-weight: bolder;
  font-size: 4vw;
  color: white;
  text-align: center;
}
#overlayy h1 span{
  font-weight:bolder;
  color: #ff6000;
  text-align: center;
}

#overlayy h3{
  width: 50%;
  color: white;
  text-align: center;
}


#p3{
  width: 100%;
  height: 100vh;
}
#p3container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
#p3container h1{
color:blue;
font-size: 3vw;
border-bottom: 3px solid blue;
}

#p3-top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 44vh;
}
#p3-bottom{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 44vh;
}
.p3box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 90%;
  border: 2px solid black;
}
.p3box img{
 height: 14vw;
}
.p3box h2{
  font-size: 2vw;
  color: blue;
  text-align: center;
}
.p3box h2 span{
  font-size: 1.5vw;
  color: #333;
}
#p3container button{
  padding: 1vw 2vw;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: #ff6000;
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#p3container button:hover{
 background-color: blue;
}


/* page 4  */

#page4{
  height: 100vh;
  width: 100%;
}
#p4conatiner{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
#page4 #p4left{
  height: auto;
  width: 10vw;
}
#page4 #p4left img{
  height: 25vw;
}
#page4 #p4right{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 32vw;
  width: 60%;
}
#page4 #p4right h1{
 font-size: 2.5vw;
}
#page4 #p4right p{
  width: 80%;
  text-align: center;
 font-size: 1.2vw;
 font-weight: 300;
}
#p4right button{
  padding: 1vw 2vw;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: #ff6000;
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#p4right button:hover{
 background-color: blue;
}

#p5{
  width: 100%;
  height: 100vh;
}
#p5container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#p5container h1{
color:blue;
font-size: 3vw;
text-decoration: underline;
}
#p5container h4{
color:#373535;
font-size: 1.2vw;
}

#p5-top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 46vh;
}
#p5-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 46vh;
}
.p5box{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 90%;
  border: 2px solid black;
  background-color: #dadada;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.p5box h3{
  position: relative;
  margin-top: 1vw;
font-size: 1.5vw;
font-weight: 500;
}
.p5box h5{
  position: relative;
  margin-top: 2vw;
  color: #333;
  font-weight: 400;
font-size: 1vw;
width: 85%;
text-align: center;
}
#imgbox{
width: 20%;
border: none;
}
#imgbox img{
width: 100%;
height: 100%;
background-size: cover;
object-fit: cover;
}
#overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0;
  transform:scale(0) rotate(-180deg);
  transition-property: all;
  transition-duration: 1s;
  transition-delay: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p5box:hover #overlay{
  cursor: pointer;
  opacity: 1;
  transform:scale(1) rotate(0deg);

}

#overlay a button{
  padding: 1vw 2vw;
  border-radius: 30px;
  background-color:#ff6000;
  color: white;
  font-size: 1vw;
  font-weight: 600;
}
#overlay a button:hover{
 cursor: pointer;
  background-color:blue;
 
}

#page6{
  height: 100vh;
  width: 100%;
}

#p6container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6vw;
  width: 100%;
  height: 100%;
}
.p6box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 70%;
  /* background-color: #dadada; */
}
hr{
  color: red;
}

.p6box h2,h5{
  color: #fff;
}
.p6box h6{
  color: rgba(255, 255, 255, 0.473);
}
.p6box h3{
  color: #ff6000;
}
.p6box a{
  color: #fff;
  text-decoration: none;
}
.p6box a:hover{
  border-bottom: 2px solid #ff6000;
  /* text-decoration: underline; */
}


@media(max-width:767px){
  nav .cancel-icon{
    width: 100%;
    height: 20vh;
    position: relative;
       display: flex;
       align-items: flex-end;
       justify-content: flex-end;
  }
  .cancel-icon span{
    position: absolute;
    right: 5%;
    top: 20%;
    font-size: 10vw;
  }
  nav .nav-items li a{
    font-size: 30px;
    margin-top: 30px;
  }
  nav .nav-items li{
    padding: 20px 15px;
  }

  nav .nav-items{
    top: 0;
  }
  nav{
    height: 100px;
    width: 123vw;
  }
  nav .menu-icon, nav .cancel-icon{
    font-size: 30px;
    margin-left: 40px;
  }
  nav .logo>img{
    height: 20vw;
  }
  #logo1>img{
    width: 40vw;
    height: 40vw;
    margin-right: 4vw;
  }
  #logo1{
    width: 40vw;
    margin-bottom: 3vw;
  }
  #overlayy h1{
    font-size: 12vw;
    white-space: nowrap;
    text-align: center;
  }
  #text{
    width: 120vw;
  }
  #box #overlayy{
    width: 100%;
    height: 100%;
  }
  #main{
    width: 120vw;
  }
  #p3-top{
    flex-direction: column;
    gap: 30px;
  }
  .p3box{
    width: 90%;
    height: 100%;
  }
  .p3box img{
    width: 40vw;
    height: 40vw;
  }
  .p3box h2{
    font-size: 5vw;
  }
  .p3box h2 span{
    font-size: 4vw;
  }
  #p3container h1{
    font-size: 8vw;
    margin-top: -120px;
    margin-bottom: 60px
  }
  #p3{
    height: 130vh;
  }
   
  #p3container{
    margin-top: 200px;
  }
  #p3-top{
    height: 100vh;
  }
#p3-bottom{
   margin-top: 50px;
   flex-direction: column;
   grid-auto-flow: 40px;
   justify-content: space-between;
   height: 100vh;
}
#p3container button{
  margin-top: 100px;
  padding: 5vw 15vw;
  font-size: 5vw;
}
#p3-bottom .p3box:nth-child(1){
  margin-bottom: 50px;
}
#p3-bottom .p3box:nth-child(2) img{
  width: 50vw;
  height: 50vw;
}
#p3-top .p3box:nth-child(2) img{
  width: 60vw;
  height: 40vw;
}
#p3-top .p3box:nth-child(2) h2{
  margin-right: 60px;
}
#p3-top .p3box:nth-child(2){
  gap: 60px;
}
#p4conatiner{
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 150px;
}
#page4 #p4left{
  width: 100vw;
  height: 35vh;
}
#page4 #p4left img{
  margin-top: 20px;
  /* display: none; */
  width: 100%;
  height: 120%;
}
#page4 #p4right h1{
  font-size: 10vw;
}
#page4 #p4right{
  margin-top: 100px;
  padding: 0 3vw;
  width: 100%;
}
#page4 #p4right p{
  font-size: 5vw;
  font-weight: 700;
  width: 100%;
  line-height: 1.1;
  margin-top: 30px;
  margin-bottom: 50px;
}
#p4right button{
  font-size: 4vw;
  padding: 5vw 15vw;
}

#overlay a button{
  width: 40vw;
  height: 10vw;
  font-size: 10px;
}

#p5-top{
  flex-direction: column;
  gap: 30px;
}
.p5box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  padding: 5vw 0;
}
#imgbox{
  width: 80%;
}
#imgbox{
  padding: initial;
}
.p5box h3{
  font-size: 7vw;
}
.p5box h5{
   font-size: 4vw;
}
#p5container h1{
  font-size: 7vw;
  margin-top: 12vw;
}
#p5container h4{
  font-size: 5vw;
  font-weight: 800;
}
#p5{
  height: 220vh;
}
#p5-top{
  height: 85vh;
}
#p5-bottom{
  flex-direction: column;
  gap: 20px;
}
#p5-bottom{
  height: 100vh;
  margin-bottom: 30px
}

#page6{
  width: 100%;
  height: 300vw;
}
#p6container{
  flex-direction: column;
}
.p6box{
  width: 100%;
}
.p6box h2{
  font-size: 8vw;
}
.p6box h6{
  font-size: 5vw;
}
.p6box h3{
  font-size: 8vw;
  margin: 20px 0
}
}

